<nav class="navbar bg-dark bg-primary">
    <a class="navbar-brand" href="/"> 
        <img src="img/guia.png">
    </a>
    <a href=""> relevantes </a>
    <a href=""> recentes </a>
    <a href="/perguntar"><button class="btn btn-success" href="/perguntar">Perguntar</button></a>
</nav>